asgiref==3.2.3
astroid==2.3.3
attrs==19.3.0
Automat==0.8.0
autopep8==1.5
awscli==1.16.292
botocore==1.13.28
cffi==1.13.2
Click==7.0
colorama==0.4.1
constantly==15.1.0
cryptography==2.8
cssselect==1.1.0
cycler==0.10.0
decorator==4.4.1
Django==3.0.3
django-filter==2.2.0
docutils==0.15.2
Flask==1.1.1
hyperlink==19.0.0
idna==2.8
imageio==2.6.1
incremental==17.5.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.4
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
lxml==4.4.2
MarkupSafe==1.1.1
matplotlib==3.1.2
mccabe==0.6.1
networkx==2.4
numpy==1.18.0
opencv-python==4.1.2.30
parsel==1.5.2
Pillow==7.0.0
Protego==0.1.16
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycodestyle==2.5.0
pycparser==2.19
PyDispatcher==2.0.5
PyHamcrest==1.9.0
pylint==2.4.4
pyOpenSSL==19.1.0
pyparsing==2.4.6
python-dateutil==2.8.0
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.1.2
queuelib==1.5.0
rsa==3.4.2
s3transfer==0.2.1
scikit-image==0.16.2
scipy==1.4.1
Scrapy==1.8.0
service-identity==18.1.0
six==1.13.0
sqlparse==0.3.0
TBB==0.1
typed-ast==1.4.0
urllib3==1.25.7
virtualenv==16.7.9
w3lib==1.21.0
Werkzeug==0.15.6
wrapt==1.11.2
zope.interface==4.7.1
